In [246]:
import json
import re

import matplotlib.pyplot as plt
import nltk
import pandas as pd
import tweepy
from textblob import TextBlob
from wordcloud import WordCloud

In [247]:
f = open("data.json")
data = json.load(f)
f.close()

In [248]:
len(data)

1820

In [249]:
df = pd.DataFrame(data, columns=['Tweets'])  
df.head()

                                                                                                                                                                                                                Tweets
0  OH MY GOD IT'S 52! #RIPTwitter
1  Done, #RIPTwitter @TribelSocial\n\nTRUDYLH20 ~ https://t.co/d88Zor5KY2 https://t.co/svR84Yjtpg
2  Absolutely, #RIPTwitter @TribelSocial\n\nTrudy Daves https://t.co/d88Zor5KY2 https://t.co/svR84Yjtpg
3  Hey, The number is 35! #RIPTwitter
4  Of more than 140,000 Twitter users who announced they were moving to Mastodon using tags like #ByeByeTwitter or #RIPTwitter, just 1.6 per cent have actually quit the social media platform https://t.co/kyhhYECKKu

In [250]:
pd.set_option("display.max_colwidth", -1) 
df.sample(10)

C:\Users\hugoz\AppData\Local\Temp\ipykernel_17296\690075854.py:1: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option("display.max_colwidth", -1)

                                                                                                Tweets
488   Hey, The number is 50! #RIPTwitter
294   Are you ready for the hype? Ready, Set... IT'S 2!!! #RIPTwitter
1734  You are not gonna believe it.. It's 46! #RIPTwitter
710   Sorted out the 80 less followers, and found 5 had unfollowed.  75 just disappeared!  #RIPTwitter
380   So, it's been two weeks since Twitter "died" ðŸ¤” #RIPTwitter https://t.co/WnDZE0TnbF
11    Are you ready for the hype? Ready, Set... IT'S 17!!! #RIPTwitter
849   OH MY GOD IT'S 23! #RIPTwitter
1115  OH MY GOD IT'S 39! #RIPTwitter
896   OH MY GOD IT'S 96! #RIPTwitter
522   Hey, The number is 37! #RIPTwitter

In [251]:
df.shape

(1820, 1)

In [252]:
def clean_tweets(tweets):
  tweets = re.sub('@[A-Za-z0â€“9]+', '', tweets) # remove tag(@)
  tweets = re.sub('#[A-Za-z0â€“9]+', '', tweets) # remove hashtags(#)
  tweets = re.sub('RT[\s]+', '', tweets) # remove RT
  tweets = re.sub('https?:\/\/\S+', '', tweets) # remove URL links
  tweets = re.sub('\[(.*?)\]', '', tweets)
  return tweets

In [253]:
df.Tweets = df.Tweets.apply(clean_tweets)

In [254]:
df.to_csv("clean_data.csv")